<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="org-grid">
        <img src="/images/helping-hands-1.jpg" alt="Volunteers packing service kits" class="org-img">
        <img src="/images/helping-hands-2.jpg" alt="Team members distributing supplies" class="org-img">
        <img src="/images/helping-hands-3.jpg" alt="Community members receiving support" class="org-img">
    </div>
    <p>We partner with these amazing organizations to drive change.</p>
    <ul>
        <% organizations.forEach(organization => { %>
            <li>
                <strong><%= organization.name %></strong>: <%= organization.description %>
            </li>
        <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>
